<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="settingsKeys" type="LanDocs.GuiBase.SettingsKeysSectionHandler, LanDocs.GuiBase" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="QuickReports" type="System.Configuration.NameValueSectionHandler" />
    <section name="preload" type="System.Configuration.NameValueSectionHandler" />
    <section name="diskTools" type="LanDocs.DiskTools.Configuration.DiskToolsSettings, LanDocs.DiskTools" />
    <sectionGroup name="UserSettingsGroup">
      <section name="SENDINGUSERSGROUPS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="NOMENCLATURES" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="SENDINGDEPSGROUPS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="SENDINGORGANIZATIONSGROUPS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="SENDINGPARTNERGROUPS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="DocumentPreviewInstructions" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="DOCUMENTTYPES" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="USERS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="CITIZENS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="ORGANIZATIONS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="DELIVERYTYPES" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="FUNDS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="DocNamesRecognResults" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="VocNamesRecognResults" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="RESOLUTIONSFORM" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="DELETEDDOCUMENTS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="CURRENTLYEDITEDFILES" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="TASKHISTORY" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
      <section name="CHAINSHEAFS" type="LanDocs.GuiBase.UserSettingsHelper, LanDocs.GuiBase" />
    </sectionGroup>
    <sectionGroup name="DefaultSorting">
      <section name="REGISTEREDDOCUMENT" type="LanDocs.GuiBase.DefaultSortingHelper, LanDocs.GuiBase" />
      <section name="INSTRUCTION" type="LanDocs.GuiBase.DefaultSortingHelper, LanDocs.GuiBase" />
      <section name="VOCABULARY" type="LanDocs.GuiBase.DefaultSortingHelper, LanDocs.GuiBase" />
      <section name="DOCUMENTCOPY" type="LanDocs.GuiBase.DefaultSortingHelper, LanDocs.GuiBase" />
    </sectionGroup>
  </configSections>
  <!--Секция конфигурирует централизованное обновление настроек. Для файлов UserSettings.xml и AppSettings.xml 
    определяет имена ключевых аттрибутов для узлов с одинаковыми именами -->
  <settingsKeys>
    <add nodeName="add" keyName="key" />
    <add nodeName="property" keyName="name" />
  </settingsKeys>
  <UserSettingsGroup>
    <SENDINGUSERSGROUPS Name="SENDINGUSERSGROUPS" SortingColumns="Name=Ascending" VisibleColumns="Name;CountMembers" />
    <SENDINGDEPSGROUPS Name="SENDINGDEPSGROUPS" SortingColumns="Name=Ascending" VisibleColumns="Name;CountMembers" />
    <SENDINGORGANIZATIONSGROUPS Name="SENDINGORGANIZATIONSGROUPS" SortingColumns="Name=Ascending" VisibleColumns="Name;CountMembers" />
    <SENDINGPARTNERGROUPS Name="SENDINGPARTNERGROUPS" SortingColumns="Name=Ascending" VisibleColumns="Name;CountMembers" />
    <DocumentPreviewInstructions Name="DocumentPreviewInstructions" GroupingColumns="GroupName=Ascending" SortingColumns="GroupName=Ascending" LockingColumns="GroupName" VisibleColumns="InstructionTypeName;StateName;InitiatorName;ReceiverName;ReportReceiverName;CreateDateTime" />
    <DOCUMENTTYPES Name="DOCUMENTTYPES" SortingColumns="TypeName=Ascending" VisibleColumns="TypeName;TypeIndex" />
    <USERS Name="USERS" SortingColumns="Surname=Ascending" VisibleColumns="Surname;Phone;TabNum;EMail;Room;PositionName;DepartmentName;DepartmentIndex" />
    <CITIZENS Name="CITIZENS" SortingColumns="Surname=Ascending" VisibleColumns="Surname;CitizenIndex;Country;ZIPCode;Oblast;City;Address;Phone;StateName" />
    <ORGANIZATIONS Name="ORGANIZATIONS" SortingColumns="OrgName=Ascending" VisibleColumns="OrgFormName;OrgName;OrgShortName;OrgIndex;Country;Oblast;Address;ZIPCode;City;Phone" />
    <NOMENCLATURES Name="NOMENCLATURES" SortingColumns="NomenclatureIndex=Ascending" VisibleColumns="Year;NomenclatureName;NomenclatureIndex;ValidityPeriod;YearEnd;IsClosed" />
    <DELIVERYTYPES Name="DELIVERYTYPES" SortingColumns="TypeName=Ascending" VisibleColumns="TypeName;TypeIndex" />
    <FUNDS Name="FUNDS" SortingColumns="FundName=Ascending" VisibleColumns="FundIndex;FundName;FirstDate" />
    <DocNamesRecognResults Name="DocNamesRecognResults" GroupingColumns="GroupName=Ascending" SortingColumns="GroupName=Ascending" LockingColumns="GroupName" VisibleColumns="VersionCount;RegistrationNumber;RegistrationDate;JournalName" />
    <VocNamesRecognResults Name="VocNamesRecognResults" GroupingColumns="GroupName=Ascending" SortingColumns="GroupName=Ascending" LockingColumns="GroupName" VisibleColumns="Name;Index;DisplayLabel" />
    <RESOLUTIONSFORM VisibleColumns="Name=Название" />
    <DELETEDDOCUMENTS Name="DELETEDDOCUMENTS" VisibleColumns="VersionCount;RegistrationNumber;RegistrationDate;CardType;ContainerName;DeletedByUser;DeleteDate;Annotation" />
    <CURRENTLYEDITEDFILES Name="CURRENTLYEDITEDFILES" GroupingColumns="DocName=Ascending" SortingColumns="FileName=Ascending" LockingColumns="FileName" VisibleColumns="FileName;EditDateTime;Creator;FileExtension;VerN" />
    <TASKHISTORY Name="TASKHISTORY" VisibleColumns="OperationType;Block;BeginTime;EndTime" SortingColumns="BeginTime=Descending" />
    <CHAINSHEAFS Name="CHAINSHEAFS" VisibleColumns="ParentRoleName;ParentName;ChildRoleName;ChildName;Role" />
  </UserSettingsGroup>
  <DefaultSorting>
    <REGISTEREDDOCUMENT Name="REGISTEREDDOCUMENT" SortingColumns="RegistrationNumber=Descending" />
    <INSTRUCTION Name="INSTRUCTION" SortingColumns="CreateDateTime=Descending" />
    <VOCABULARY Name="VOCABULARY" SortingColumns="Name=Ascending" />
    <DOCUMENTCOPY Name="DOCUMENTCOPY" SortingColumns="CopyNumber=Ascending" />
  </DefaultSorting>
  <log4net>
    <root>
      <level value="WARN" />
      <appender-ref ref="DailyLogFile" />
    </root>
    <appender name="_DailyLogFile" type="log4net.Appender.RollingFileAppender">
      <File type="log4net.Util.PatternString" value="%property{logs}\LanDocs3" />
      <AppendToFile value="true" />
      <StaticLogFileName value="false" />
      <DatePattern>.yyyy-MM-dd".log"</DatePattern>
      <MaxSizeRollBackups value="14" />
      <MaximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="========== [ Application started ] =========================================================================================&#xD;&#xA;" />
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception" />
        <footer value="========== [ Application finished ] ========================================================================================&#xD;&#xA;&#xD;&#xA;&#xD;&#xA;" />
      </layout>
    </appender>
    <appender name="DailyLogFile" type="log4net.Appender.BufferingForwardingAppender">
      <bufferSize value="1024" />
      <Fix value="Partial" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR" />
      </evaluator>
      <appender-ref ref="_DailyLogFile" />
    </appender>
  </log4net>
  <system.serviceModel>
    <client>
      <endpoint binding="basicHttpBinding" contract="LanDocs.CommonTypes.ILanDocsServer" name="LanDocsServer_Http" />
      <endpoint binding="netTcpBinding" bindingConfiguration="LanDocsServer_NetTcpBinding_Production" contract="LanDocs.CommonTypes.ILanDocsServer" name="LanDocsServer_NetTcp" />
      <endpoint binding="netTcpBinding" name="Discovery_NetTcp" bindingConfiguration="LanDocsServer_NetTcpBinding_Production" contract="LanDocs.Common.Interfaces.Discovery.IDiscovery" />
      <endpoint binding="netTcpBinding" bindingConfiguration="AuthorizationServer_NetTcpBinding_UserName" contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrustChannelContract" name="AuthorizationServer_NetTcp_UserName" />
      <endpoint binding="netTcpBinding" bindingConfiguration="AuthorizationServer_NetTcpBinding_Windows" contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrustChannelContract" name="AuthorizationServer_NetTcp_Windows" />
      <endpoint binding="netTcpBinding" bindingConfiguration="AuthorizationServer_NetTcpBinding_WindowsTransport" contract="LanDocs.CommonTypes.Authorization.IPrivateAuthorizationServer" name="AuthorizationServer_NetTcp_WindowsTransport" />
      <endpoint binding="netTcpBinding" name="WorkflowServer_NetTcp" bindingConfiguration="LanDocsServer_NetTcpBinding_Production" contract="LanDocs.Workflow.Common.IWorkflowServer" />
      <endpoint binding="netTcpBinding" name="WorkflowServer_NetTcp40" bindingConfiguration="LanDocsServer_NetTcpBinding_Production" contract="LanDocs.Workflow.Client.Server.IWorkflowServer" />
    </client>
    <bindings>
      <netTcpBinding>
        <!--30 мин, 700 МБ-->
        <!--receiveTimeout не используется в клиенте, timeout операции определяется параметром sendTimeout
        подробнее http://social.msdn.microsoft.com/Forums/vstudio/en-US/84551e45-19a2-4d0d-bcc0-516a4041943d/explaination-of-different-timeout-types?forum=wcf-->
        <binding name="LanDocsServer_NetTcpBinding_Production" receiveTimeout="00:30:00" sendTimeout="01:00:00" transferMode="Streamed" maxReceivedMessageSize="700100100">
          <readerQuotas maxStringContentLength="700100100" maxArrayLength="700100100" />
          <reliableSession enabled="false" />
          <security mode="None" />
        </binding>
        <!--receiveTimeout не используется в клиенте, timeout операции определяется параметром sendTimeout
        подробнее http://social.msdn.microsoft.com/Forums/vstudio/en-US/84551e45-19a2-4d0d-bcc0-516a4041943d/explaination-of-different-timeout-types?forum=wcf-->
        <binding name="AuthorizationServer_NetTcpBinding_UserName" receiveTimeout="00:01:00" sendTimeout="00:01:30" openTimeout="00:03:00" transferMode="Buffered" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <reliableSession enabled="false" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="AuthorizationServer_NetTcpBinding_Windows" receiveTimeout="00:01:00" sendTimeout="00:01:30" openTimeout="00:03:00" transferMode="Buffered" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <reliableSession enabled="false" />
          <security mode="Message">
            <message clientCredentialType="Windows" />
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="AuthorizationServer_NetTcpBinding_WindowsTransport" openTimeout="00:03:00" receiveTimeout="00:01:00" sendTimeout="00:01:30" transferMode="Buffered" maxReceivedMessageSize="10485760">
          <readerQuotas maxStringContentLength="10485760" maxArrayLength="10485760" />
          <reliableSession enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="NetTcpBinding_Custom" closeTimeout="01:01:00" openTimeout="01:01:00" receiveTimeout="01:01:00" sendTimeout="02:00:00">
          <binaryMessageEncoding>
            <readerQuotas maxDepth="3200" maxStringContentLength="8192000" maxArrayLength="16384000" maxBytesPerRead="409600" maxNameTableCharCount="16384" />
          </binaryMessageEncoding>
          <tcpTransport maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" connectionBufferSize="8192" hostNameComparisonMode="StrongWildcard" channelInitializationTimeout="00:01:00" maxBufferSize="65536" maxPendingConnections="20" maxOutputDelay="00:00:00.2000000" maxPendingAccepts="5" transferMode="Streamed" listenBacklog="20" portSharingEnabled="false" teredoEnabled="false">
            <connectionPoolSettings groupName="default" leaseTimeout="00:05:00" idleTimeout="00:02:00" maxOutboundConnectionsPerEndpoint="10" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <diagnostics>
      <!--
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="true"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="true"
                      maxSizeOfMessageToLog="10485760"/>
-->
    </diagnostics>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
        <listeners>
          <add name="traceListener" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="LanDocs3.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <!-- Дополнительные списки загружаемые при старте клиента. 
      Формат [CONTAINER.]LIST[.NESTEDLIST1] 
      CONTAINER=VOCABULARIESLIST|CURRENTUSER|Сущность_из_загружаемого_списка
      value=[None|Nested|On], по-умолчанию On
  -->
  <preload>
    <add key="JOURNALS.RIGHTS" value="" />
    <!-- могут приводить к повышеному потреблению памяти в организациях, где есть много сотрудников и активно используется версионность.
    Ускоряют операции проверки прав при доступе к поручениями.
    <add key = "USERS.VERSIONS" value = ""/>
    <add key = "REPLACERS" value = ""/>
    -->
  </preload>
  <!-- Статистические отчёты, выносимые на ленточное меню вкладки Сообщения окна документа -->
  <QuickReports>
    <!--<add key = "379815" value = "d:\TFSProjects\LanDocs3\Source\Main\LanDocs.Client\bin\Debug\rep_icons\icon1.png"/>
    <add key = "379932" value = "d:\TFSProjects\LanDocs3\Source\Main\LanDocs.Client\bin\Debug\rep_icons\icon2.png"/>
    <add key = "379817" value = "d:\TFSProjects\LanDocs3\Source\Main\LanDocs.Client\bin\Debug\rep_icons\icon3.png"/>
    <add key = "472817" value = "d:\TFSProjects\LanDocs3\Source\Main\LanDocs.Client\bin\Debug\rep_icons\icon4.png"/>-->
  </QuickReports>
  <diskTools>
    <!-- Каждый час очищаем устаревшие файлы -->
    <diskCleaner scanPeriod="0:1:0:0">
      <paths />
    </diskCleaner>
  </diskTools>
  <appSettings>
    <!-- Параметры подключения к серверу приложений -->
    <add key="ServerHost" value="DSUD-TEST3" />
    <add key="ServerTcpPort" value="5777" />
    <add key="ServerObjectName" value="LanDocsServer" />
    <add key="CommunicationEngine" value="wcf" />
    <add key="WindowsAuthentication" value="false" />
    <add key="WindowsAuthenticationMode" value="Transport" />
    <!--<add key="WindowsAuthenticationEnabled" value="true" />-->
    <!--<add key="ServicePrincipalName" value="LANDOCS/localhost:5777" />-->
    <!--Preview -  показывать окно предпросмотра FR, Word - выводить в Word, Excel - выводить в Excel -->
    <add key="FastReportExportType" value="Preview" />
    <!-- Параметры подключения к серверу безопасности -->
    <add key="SecurityEnabled" value="false" />
    <add key="SecuritySystemDirectory" value="" />
    <!-- Параметры импорта настроек подсистемы безопасности из LD2 -->
    <add key="ForceLD2ImportCommandTime" value="" />
    <!-- Константы для менеджера ресурсов графического интерфейса -->
    <add key="VisualControlsResourceAssembly" value="LanDocs.Workflow.VisualControlsResources" />
    <add key="VisualControlsResourceFile" value="LanDocs.Workflow.VisualControlsResources.BusinessObjects" />
    <add key="ResourceAssembly" value="LanDocs.ClientResources" />
    <add key="BitmapsResources" value="LanDocs.ClientResources.Bitmaps" />
    <add key="IconsResources" value="LanDocs.ClientResources.Icons" />
    <add key="TextResources" value="LanDocs.ClientResources.Strings" />
    <add key="BusinessIcons" value="LanDocs.ClientResources.BusinessIcons" />
    <add key="BusinessObjectsGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="BusinessObjectsGroupResourceFile" value="LanDocs.ClientResources.BusinessObjectsResources" />
    <add key="FormsGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="FormsGroupResourceFile" value="LanDocs.ClientResources.FormsResources" />
    <add key="MessagesGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="MessagesGroupResourceFile" value="LanDocs.ClientResources.MessagesResources" />
    <add key="ToolbarsGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="ToolbarsGroupResourceFile" value="LanDocs.ClientResources.ToolbarResources" />
    <add key="ToolbarIconsGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="ToolbarIconsGroupResourceFile" value="LanDocs.ClientResources.ToolbarIconsResources" />
    <add key="PopupMenuGroupResourceAssembly" value="LanDocs.ClientResources" />
    <add key="PopupMenuGroupResourceFile" value="LanDocs.ClientResources.PopupMenuResources" />
    <!-- Имя файла, в котором сохраняются локальные настройки -->
    <add key="UserConfigFile" value="UserSettings.xml" />
    <!-- Имя файла, в котором сохраняются локальные настройки -->
    <add key="AppConfigFile" value="AppSettings.xml" />
    <!-- Файл с описанием библиотеки визуальных элементов и контроллеров (абсолютный путь, или относительно ApplicationBase) -->
    <add key="VisualLibraryDescription" value="VisualLibrary.xml" />
    <!-- Имя папки, в которой хранятся файлы репозитория (абсолютный путь, или относительно LocalAppSettings) -->
    <add key="RepositoryModulesPath" value="Repository" />
    <!-- Имя старого файла репозитория -->
    <add key="Repository" value="Repository.xml" />
    <!-- Суффикс новых файлов репозитория -->
    <add key="NewRepository" value="NewRepository.xml" />
    <!-- Проверка Орфоргафии -->
    <add key="SpellCheckerDictionaryFileName" value="Dictionaries\Dictionary.dic" />
    <add key="SpellCheckerGrammarFileName" value="Dictionaries\Dictionary.aff" />
    <add key="SpellCheckerCustomDictionaryFileName" value="Dictionaries\CustomDictionary.dic" />
    <add key="SpellCheckerAlphabetFileName" value="Dictionaries\Alphabet.aff" />
    <add key="SpellCheckerCulture" value="ru-RU" />
    <add key="SpellCheckerOptionsLimit" value="5" />
    <!-- Режим работы с сервером -->
    <!--<add key="FeedBack" value="Full" />-->
    <add key="FeedBack" value="None" />
    <!-- Использование потоковых методов позволяет сократить размер используемой памяти -->
    <add key="UseStreamMethods" value="True" />
    <!-- Время запроса сервера о результатах в режиме молчания -->
    <add key="ExtractAllTime" value="101" />
    <!-- Уровень проверки версий. Только для девелоперов = 4, для остальных - 0 или не указывать. -->
    <add key="ServerVersionControl" value="4" />
    <!-- Время жизни без обращения в кэше короткоживущих объектов -->
    <add key="ShortLifeTime" value="00:15:00" />
    <!-- Время жизни без обращения в кэше долгоживущих объектов -->
    <add key="LongLifeTime" value="12:00:00" />
    <!--Параметр отложенной загрузки-->
    <add key="DelayedLoad" value="200" />
    <!-- Максимальное время ожидания ответа от сервера -->
    <add key="ServerWaitingTime" value="60000" />
    <!-- Период опроса сервера о наличии сессии -->
    <add key="SessionPingTime" value="180000" />
    <!-- Стандартные пути -->
    <add key="TemplateFolder" value="Templates" />
    <add key="UnsortedFolder" value="C:\Temp\Unsorted" />
    <!-- Имя папки, в которой хранятся временные файлы (абсолютный путь, или относительно %TEMP%) -->
    <add key="TempPath" value="" />
    <!-- Имя папки, в которой хранятся логи приложения (абсолютный путь, или относительно LocalAppSettings) -->
    <add key="LogsFolder" value="Logs" />
    <!-- Имя папки, в которой хранятся загружаемые с сервера гибкие карточки (абсолютный путь, или относительно LocalAppSettings) -->
    <add key="CardAssembliesCacheFolder" value="Cards" />
    <!-- Включить режим отладки гибкой карточки для указанного типа документа -->
    <!--<add key="CardTypeInDebugMode" value="REGISTEREDDOCUMENT_1004" />-->
    <!-- Период проверки наличия на сервере новой гибкой карточки документа/справочника -->
    <add key="FlexibleCardRefreshTime" value="04:00:00" />
    <!-- Имя сборки, содержащей дополнительные бизнес-объекты -->
    <!--<add key="ExtBusinessObjectsAssembly" value="LanDocs.DSUD.dll" />-->
    <!-- Перенести документ-источник в Архив
    Yes_Active, Yes_Passive, No_Active, No_Passive-->
    <add key="RE-REGISTRATION" value="Yes_Active" />
    <!--Файл со справкой-->
    <add key="HelpFile" value="LanDocs3.chm" />
    <!--Тип провайдера ресурсов для библиотеки безопасности-->
    <add key="SecurityResourceProviderType" value="LanDocs.GuiBase.ResourceProvider, LanDocs.GuiBase" />
    <!--Тип провайдера настроек для библиотеки безопасности-->
    <add key="SecurityConfigurationProviderType" value="LanDocs.GuiBase.SecurityConfigurationProvider, LanDocs.GuiBase" />
    <!--Тип провайдера для гибкой карточки-->
    <add key="FlexibleCardFormProvider" value="LanDocs.SmartForms.Providers.FlexibleCardFormProvider, LanDocs.SmartForms" />
    <!--Преобразование Guid'а, как это делает лд2 на базе мс. Для оракла false.-->
    <add key="ChangeUIDEndianness" value="true" />
    <!-- размер пула WCF соединений к серверу приложений -->
    <add key="ConnectionPoolSize" value="6" />
    <!--Режим только чтение для справочников-->
    <add key="ReadOnlyVocabulary" value="false" />
    <!--Интервал опроса файла-->
    <add key="FilePollingTimeout" value="00:00:00.5" />
    <!--Время запуска редактора-->
    <add key="EditorStartTimeout" value="00:00:30" />
    <!-- Импортировать настройки из предыдущих версий.  -->
    <add key="ImportSettingsStartingFrom" value="" />
    <!-- Импортировать настройки по-умолчанию из пути.  -->
    <add key="ImportSettingsDefaultPath" value="" />
    <!-- Включить/отключить обновление настроек на основании серверного файла, находящего в папке ImportSettingsDefaultPath -->
    <add key="ImportSettingsUpdate" value="true" />
    <!-- Разрешен ли в гриде внутренний механизм фильтрации -->
    <add key="GridAllowFiltering" value="true" />
    <!-- Выбор режима открытия файла по двойному клику -->
    <add key="EditFileOnDoubleClick" value="" />
    <!-- Параметры типов создавамых поручений (на контроле и нет) по умолчанию. Допустимые значения: FanWithExecutive, Fan, ChainWithExecutive, Chain  -->
    <!--
    <add key="SendTypeControlled" value="ChainWithExecutive"/>    
    <add key="SendTypeUnControlled" value="Fan"/>
     -->
    <!-- Настройки отображения диалога об отзыве сообщения на соисполнителей при принятии отчета от ответственного исполнителя (см SR612) и при отправке отчета по сообщению, получателем которого является ответственный исполнитель (см. SR605.1) -->
    <add key="RejectTaskOnCoExecutive" value="true" />
    <!-- Разрешить сохранять объект через бач -->
    <add key="EnableBatchStore" value="true" />
    <!--Список директорий, разделенных ';', в которых необходимо производить очистку логов. Относительные пути раскрываются относительно LocalSettings с учетом версии директории-->
    <add key="LogsCleanupFolders" value="Logs\*.log" />
    <!--Дни, определяющие период в течение которого хранятся логи-->
    <add key="LogsCleanupKeepDays" value="7" />
    <!-- Надо ли проверять права замещаемых сотрудников на поручения -->
    <add key="CheckReplacementMailRights" value="true" />
    <!--Флаг, необходимо ли отображать полное наименование (имя+должность+отдел) пользователя в переменной (функционал плагина редактора маршнутных карт)-->
    <add key="DisplayFullUserName" value="true" />
    <!--Путь к исполняемому файлу подсистемы работы с файлами отображения (относительно папки пользовательских настроек LanDocs)-->
    <add key="ReflectionFileBootstrapperPath" value="ReflectionFile\LanDocs.Stamps.Bootstrapper.exe" />
    <!--Ожидаемое наименование архива с подсистемой работы с файлами отображения-->
    <add key="ReflectionFileArchivePath" value="reflection-file.zip" />
    <!-- enable BusinessObject itterator over local lists -->
    <add key="EnableLocalIterator" value="true" />
    <!-- Кидать исключения при ошибках синхронизации локальных справочников -->
    <add key="StopOnSyncError" value="true" />
  </appSettings>
</configuration>